{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}

<section class="pricing mt-5 py-5">
  <div class="container mt-5">
    <div class="row mt-5">
      <h1 class="fw-light text-center text-lg-start mb-0">Tarifs</h1>
      <hr class="mt-2 mb-5">

      <!-- Women Pricing -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Femme</h5>
            <h6 class="card-price text-center"><i class="fas fa-female"></i><span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li>Single User</li>
              <li>Monthly Status Reports</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Junior Pricing -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Junior</h5>
            <h6 class="card-price text-center">-20<span class="period"> ans</span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div>Coupe + Coiffure Garçon</div>
                <div >18,00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Shamp + Coupe fillette + Coiffure</div>
                <div >27,50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Coupe garçons -5ans sans shamp</div>
                <div >15.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Coupe fillette -5ans Shamp + Sechage</div>
                <div >18.50€</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Men Pricing -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Homme</h5>
            <h6 class="card-price text-center"><i class="fas fa-male"></i><span class="period"></span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div>Cover + Coupe + Coiffure</div>
                <div>39.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Shamp + Coupe + Coiffure</div>
                <div >22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Shamp + Coloration + Coupe + Coiffure</div>
                <div >49.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Shamp + Permanente + Coupe + Coiffure</div>
                <div class="">22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Balayage / Mèches</div>
                <div >à partir de 23€</div>
              </li>
              <li class="d-flex justify-content-evenly">
                <div>Defrisage 1 dose + Shamp  + Coupe + Coiffure</div>
                <div >sur devis</div>
              </li>
              <li class="d-flex justify-content-between">
                <div>Taille de barbe</div>
                <div>5.00</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
