{% extends 'base.html.twig' %}

{% block title %}Edit SectionCategory{% endblock %}

{% block body %}
    <h1>Edit SectionCategory</h1>

    {{ include('section_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_section_category_index') }}">back to list</a>

    {{ include('section_category/_delete_form.html.twig') }}
{% endblock %}
