{% extends 'base.html.twig' %}

{% block title %}New SectionCategory{% endblock %}

{% block body %}
    <h1>Create new SectionCategory</h1>

    {{ include('section_category/_form.html.twig') }}

    <a href="{{ path('app_section_category_index') }}">back to list</a>
{% endblock %}
