<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">EDOUARD.B
        <span class="text-muted"></span>
        </h2>
        <p class="lead">Fondée en 2014, nous sommes une équipe de coiffeur/euse visagiste spécialisé dans la beauté.
        Situé en plein centre ville de Noisy-Le-Grand, dans la rue commerçante Pierre Brossolette,
        nous sommes proche des commerces et de la mairie avec une bonne accèssibilitée aux tranports en communs.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://cdn.discordapp.com/attachments/989498066136617050/989549409110982677/unknown.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Présentation</title>

    </div>
</div>

    <hr class="featurette-divider">