{% extends 'admin/base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Images</h1>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Fichier</th>
            </tr>
        </thead>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.url }}</td>
                <td>
                    <a
                        class="btn btn-secondary"
                        href="{{ path('app_user_edit', {'id': gallery.id}) }}"
                    >
                        <i class="fas fa-edit"></i>
                    </a>

                    <a
                        class="btn btn-secondary"
                        href="{{ path('app_user_delete', {'id': gallery.id}) }}"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune image</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
