<form method="post" action="{{ path('admin_articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-secondary">
        <i class="fas fa-trash"></i>
    </button>
</form>
