<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Découvrez le salon de coiffure dans la ville de Noisy-Le-Grand, proche de sa mairie et de multiples commerces">
        <meta name="author" content="KAO Christian">
        <title>Edouard B | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" class="rounded-circle" width="50" height="50"></img></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/#presentation">Présentation</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/gallery">Galerie</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/pricing">Tarifs</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        <main>
            
        </main>
        {% endblock %}

        <footer class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; EDOUARD.B fondé en 2014 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                </div>
                {% for info in infos %}

                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <p>{{info.address}}</p>
                        <p>{{info.phone}}</p>
                        <p class="text-lg"><a href="{{info.facebook}}"><i class="fab fa-facebook"></i></a></p>
                    </div>
                {% endfor %}
                <div class="col-md-4">
                    <p class="float-end">
                        <a href="#">
                            Haut de page
                        </a>
                    </p>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
