{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block body %}

<section class="pricing mt-5 py-5">
  <div class="container mt-5">

    <h1 class="text-center text-lg-start mb-0">Tarifs</h1>
    <hr class="mt-2 mb-5">
    <div class="row">

      <!-- Women Pricing -->
      <article class="col-lg-4 my-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Femme</h5>
            <h6 class="card-price text-center"><i class="fas fa-female"></i><span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li>Single User</li>
              <li>Monthly Status Reports</li>
            </ul>
          </div>
        </div>
      </article>
      <!-- Junior Pricing -->
      <article class="col-lg-4 my-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Junior</h5>
            <h6 class="card-price text-center">-20<span class="period"> ans</span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. + Coif. Garçon</div>
                <div class="m-1">18,00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Cpe. fillette + Coif.</div>
                <div class="m-1" >27,50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. garçons -5ans sans shamp</div>
                <div class="m-1" >15.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. fillette -5ans Shamp + Séchage</div>
                <div class="m-1">18.50€</div>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <!-- Men Pricing -->
      <article class="col-lg-4 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Homme</h5>
            <h6 class="card-price text-center"><i class="fas fa-male"></i><span class="period"></span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div class="m-1">Cover + Cpe. + Coif.</div>
                <div class="m-1">39.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Cpe. + Coif.</div>
                <div class="m-1" >22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Coloration + Cpe. + Coif.</div>
                <div class="m-1" >49.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Permanente + Cpe. + Coif.</div>
                <div class="m-1">22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Balayage / Mèches</div>
                <div class="m-1">à partir de 23€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Defrisage + Shamp  + Cpe. + Coif.</div>
                <div class="m-1">sur devis</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Taille de barbe</div>
                <div class="m-1">5.00</div>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <hr class="featurette-divider">

  </div>
</section>



{% endblock %}
