{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block body %}

<section class="pricing mt-5 py-5">
  <div class="container mt-5">

    <h1 class="text-center text-lg-start mb-0">Tarifs</h1>
    <hr class="mt-2 mb-5">
    <div class="row">

      <!-- Women Pricing -->
      <article class="col-lg-6 my-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Femme</h5>
            <h6 class="card-price text-center"><i class="fas fa-female"></i><span class="period"></span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div class="m-1">Coiffure CH courts</div>
                <div class="m-1">19.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Coupe Coiffure CH courts</div>
                <div class="m-1" >34.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Relooking</div>
                <div class="m-1" >sur devis</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1"><strong>CHIGNON ET MARIEE</strong></div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Chignon/Nattes</div>
                <div class="m-1">59€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Coiffure de Mariée</div>
                <div class="m-1">90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1"><strong>LA COLORATION ET LES MECHES</strong></div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Coloration + Coif. CH Courts</div>
                <div class="m-1">49€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Coloration + Cpe. + Coif. CH Courts</div>
                <div class="m-1">64€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Diarichesse/Luo + Coif. CH Courts</div>
                <div class="m-1">50.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Diarichesse/Luo + Cpe. + Coif. CH Courts</div>
                <div class="m-1">65.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Décoloration/Décapage (la dose)</div>
                <div class="m-1">32€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Flash léger</div>
                <div class="m-1">23€</div>
              </li>
                <li class="d-flex justify-content-between">
                <div class="m-1">Clip Couleur</div>
                <div class="m-1">38€</div>
              </li>
                <li class="d-flex justify-content-between">
                <div class="m-1">Balayage/Mèches</div>
                <div class="m-1">à partir de 45€ (sur devis)</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Mèches Bi-Color</div>
                <div class="m-1">à partir de 65€ (sur devis)</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1"><strong>SOINS</strong></div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Soin Massage Kérastase</div>
                <div class="m-1">7.80€</div>
              </li>
                <li class="d-flex justify-content-between">
                <div class="m-1">Mousse/Soutien Coiffure</div>
                <div class="m-1">6.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Protecteur Cuir Chevelu (avant couleur/perm)</div>
                <div class="m-1">6.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Rituel Bain + Soin Massage Kérastase</div>
                <div class="m-1">14€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Soin Lissant Brésilien</div>
                <div class="m-1">à partir de 150€ (sur devis)</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Lissage Japonais</div>
                <div class="m-1">à partir de 150€ (sur devis)</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1"><strong>PERMANENTE ASSOUPLISSANT</strong></div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Permanente + Coif. + CH Courts</div>
                <div class="m-1">54€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Permanente + Cpe. + Coif. CH Courts</div>
                <div class="m-1">67.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1"><strong>SUPPLEMENTS COIFFURE</strong></div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cheveux Mi-Longs</div>
                <div class="m-1">3€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cheveux Longs</div>
                <div class="m-1">13.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cheveux très long</div>
                <div class="m-1">23.00€</div>
              </li>
            </ul>
          </div>
        </div>
        <hr>
      </article>

      <!-- Men Pricing -->
      <article class="col-lg-6 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Homme</h5>
            <h6 class="card-price text-center"><i class="fas fa-male"></i><span class="period"></span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div class="m-1">Cover + Cpe. + Coif.</div>
                <div class="m-1">39.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Cpe. + Coif.</div>
                <div class="m-1" >22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Coloration + Cpe. + Coif.</div>
                <div class="m-1" >49.90€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Permanente + Cpe. + Coif.</div>
                <div class="m-1">22.00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Balayage / Mèches</div>
                <div class="m-1">à partir de 23€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Defrisage + Shamp  + Cpe. + Coif.</div>
                <div class="m-1">sur devis</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Taille de barbe</div>
                <div class="m-1">5.00</div>
              </li>
            </ul>
          </div>
        </div>

        <hr>

        <!-- Junior Pricing -->
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Junior</h5>
            <h6 class="card-price text-center">-20<span class="period"> ans</span></h6>
            <hr>
            <ul class="container">
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. + Coif. Garçon</div>
                <div class="m-1">18,00€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Shamp + Cpe. fillette + Coif.</div>
                <div class="m-1" >27,50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. garçons -5ans sans shamp</div>
                <div class="m-1" >15.50€</div>
              </li>
              <li class="d-flex justify-content-between">
                <div class="m-1">Cpe. fillette -5ans Shamp + Séchage</div>
                <div class="m-1">18.50€</div>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <hr class="featurette-divider">

  </div>
</section>



{% endblock %}
